<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TuringMachine</title>
    <link rel="icon" th:href="@{/images/favicon.webp}">
    <link rel="stylesheet" th:href="@{/css/docs.css}">
</head>
<body>
    <div class="container">
        <section>
            <h1>Документація до машини Тьюринга</h1>
            <img class="img1" src="/images/docs_img1.jpg" alt="an image" height="300">
            <div class="p1">
                <p>Машина Тьюринга – це гіпотетична машина, що стала першою алгоритмічною схемою,
                    запропонованою в якості<br>математичного визначення алгоритму в 1937 році. Вона представляє собою
                    модель простого пристрою, що має всі<br>основні властивості сучасної інформаційної системи:
                    програмне управління, пам'ять, і покроковий спосіб дій. Ця уявна<br>машина, спроєктована Аланом
                    Тьюрингом(відомим математиком ХХ століття, який також розробляв Енігму),<br>використовується в
                    теорії автоматів та комп'ютерах.</p>
            </div>
            <div class="p2">
                <p>Машина Тьюринга є знакопереборним пристроєм, завдання якого — переробляти вхідне слово W∈A в
                    якесь<br>вихідне слово W*∈A, де A — зовнішній алфавіт.</p>
            </div>
        </section>
        <section>
            <h2>Складові уявної машини</h2>
            <div class="p3">
                <p>Машина складається з трьох частин:</p>
            </div>
            <div class="list">
                <ol>
                    <li>
                        <p>Нескінченна в обидві сторони стрічка, розбита на клітинки:</p>
                        <ul>
                            <li>
                                <p>в одній клітинці може перебувати тільки один символ заданого алфавіту A = {α, β, γ,
                                    ...}</p>
                                <img src="/images/docs_img2.jpg" alt="tape image" height="50">
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Голівка, що зчитує символи:</p>
                        <ul>
                            <li>в один дискретний момент зчитує лише один символ;</li>
                            <li>в один дискретний момент перебуває лише в одному з внутрішніх станів q<sub>i</sub>∈Q,
                                де Q — алфавіт внутрішніх станів;</li>
                            <li>
                                <p>зчитавши символ, робить наступні дії:</p>
                                <div class="ordered">
                                    <ol>
                                        <li>або перезаписує його, або залишає</li>
                                        <li>переходить або праворуч, або ліворуч, або лишається в поточній клітинці</li>
                                        <li>або переходить в інший стан, або залишається в поточному</li>
                                    </ol>
                                </div>
                                <img src="/images/docs_img3.jpg" alt="head image" height="100">
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Таблиця, що складається з команд виду "α β q<sub>i</sub>", де:</p>
                        <ul>
                            <li>α — символ, який голівка записує в клітинку;</li>
                            <li>β ∈ {L, R}(L is for Left, R is for Right);</li>
                            <li>q<sub>i</sub> — стан, в який переходить голівка(або ! на завершення роботи)</li>
                        </ul>
                        <img src="/images/docs_img4.jpg" alt="table image" height="150">
                    </li>
                </ol>
            </div>
        </section>
        <section>
            <h2>Принцип роботи машини Тьюринга</h2>
            <div class="p4">
                <p>Спочатку задається алфавіт А, тобто символи, з яких складається слово. Порожній символ стоїть за
                    замовчуванням, тому його додавати не треба.<br>При роботі можливе розширення алфавіту допоміжними
                    символами, які після переробки слова замінюються основними символами алфавіту або<br>стираються.</p>
                <p>Далі на вхід подається вхідне слово W. В таблиці станів задається початковий стан q<sub>0</sub>
                    і голівка починає розпізнавання з першого символу й рухається<br>покроково вправо. Згідно з таблицею
                    станів, зустрічаючи новий символ, голівка виконує певну дію(перезаписує/залишає символ, переходить
                    в<br>інший/залишається в поточному стані, рухається ліворуч/праворуч).</p>
                <p>Машина завершує роботу, коли, розпізнаваючи наступний символ  в певному стані, у таблиці станів
                    наштовхується на символ "!". Після завершення<br>роботи отримуємо нове слово W*.</p>
            </div>
        </section>
        <section>
            <h2>Приклад</h2>
            <div class="p5">
                <p>Розглянемо приклад машини, що обчислює функцію F(x, y) = x + y, де x, y — слова, задані в унарній
                    системі числення.</p>
                <p>A = {|*} ( λ присутня за замовчуванням) W - |||*||  W* - |||||</p>
                <img src="/images/docs_img5.jpg" alt="execution example image" height="300">
                <p>У початковому стані q<sub>0</sub> машина бачить крайню ліву паличку, витирає її і, перейшовши в стан
                    q<sub>1</sub>, рухається праворуч, поки не побачить крайній<br>праворуч порожній символ. Тоді на місці
                    порожнього символу голівка записує паличку, переходить в новий стан q<sub>2</sub> і рухається
                    ліворуч в тому ж<br>стані q<sub>2</sub>, пропускаючи всі символи, поки не дійде до крайнього ліворуч
                    порожнього символа. Тоді голівка залишає його на місці, зсувається<br>праворуч і переходить в стан
                    q<sub>0</sub>. Після цього процес повторюється до тих пір, поки в стані q<sub>0</sub> голівка не
                    побачить символ *. Це означає, що вже<br>всі палички перенесені з лівої на праву сторону від *,
                    голівка може витерти символ * і зупинитися, тобто перейти до заключного стану.</p>
            </div>
        </section>
        <section>
            <h2>Історія</h2>
            <div class="p6">
                <p>Формальні визначення алгоритму з'явилися в тридцятих-сорокових роках ХХ століття. Одним із перших
                    було визначення англійського математика<br>Алана Тьюринга, який у 1936 році описав схему деякої
                    гіпотетичної (абстрактної) машини і запропонуваав називати алгоритмами те, що вміє робити<br>така
                    машина. При цьому визначенні, якщо щось не може бути зроблено машиною Тьюринга, це вже не алгоритм.
                    Інакше кажучи, Тьюринг<br>формалізував правила виконання дій за допомогою опису роботи деякої
                    конструкції.</p>
            </div>
        </section>
    </div>
</body>
</html>