*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    margin: 0;
    padding: 0;
    font-size: large;
}
section{
    padding-left: 50px;
}
.container h1{
    text-align: center;
    padding-top: 40px;
}
p{
    text-indent: 30px;
}
h2{
    padding-top: 50px;
}
.p1{
    margin: 0;
    padding-top: 70px;
}
.p2{
    margin: 0;
    padding-top: 40px;
}
.img1{
    float: right;
}
.list{
    margin: 0;
    padding-top: 20px;
    padding-left: 50px;
}
.list ul{
    padding-left: 30px;
}
.ordered{
    padding-left: 30px;
}
.p3{
    padding-top: 30px;
}
.p4 p{
    padding-top: 30px;
    text-indent: 30px;
}
.p5{
    padding-top: 30px;
}
.img5{
    float: left;
}
.p6{
    padding-top: 30px;
}